@import url(./reset.css);
@import url(./utils.css);

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  App                                                  */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

body {
    background-color: var(--app-background-white);
    font-family: 'Nunito Sans', 'Open Sans', Arial, sans-serif;
}

.container {
    width: min(100% - 30px, 1080px);
    margin-inline: auto;
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Component                                            */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */


/* ............................................................. */
/* Footer                                                        */
/* ............................................................. */

footer {
    padding: 20px 0;
    background: #f2f3f4;
}

.footer-container {
    margin-top: 10px;
    margin-bottom: 10px;
}

footer .social-icons {
    text-align: center;
    padding-bottom: 25px;
    color: #000;
}

footer .social-icons a {
    font-size: 24px;
    color: #000;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    margin: 0 8px;
    opacity: 0.75;
}

footer .social-icons i:hover {
    text-decoration: underline;
    opacity: 0.9;
}

footer ul {
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}

footer ul li a {
    text-decoration: none;
    list-style: none;
    opacity: 0.8;
    color: #000;
}

footer ul li {
    display: inline-block;
    padding: 0 15px;
}

footer ul li a:hover {
    text-decoration: underline;
}

footer i {
    color: #000;
}

footer .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 15px;
}