@import url(./reset.css);
@import url(./utils.css);

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  App                                                  */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

body {
    background-color: var(--app-background-white);
    font-family: 'Nunito Sans', 'Open Sans', Arial, sans-serif;
}

.container {
    width: min(100% - 30px, 1080px);
    margin-inline: auto;
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Component                                            */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */


/* ............................................................. */
/* Footer                                                        */
/* ............................................................. */

footer {
    padding: 20px 0;
    background: #f2f3f4;
}

.footer-container {
    margin-top: 10px;
    margin-bottom: 10px;
}

footer .social-icons {
    text-align: center;
    padding-bottom: 25px;
    color: #000;
}

footer .social-icons a {
    font-size: 24px;
    color: #000;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    margin: 0 8px;
    opacity: 0.75;
}

footer .social-icons i:hover {
    text-decoration: underline;
    opacity: 0.9;
}

footer ul {
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}

footer ul li a {
    text-decoration: none;
    list-style: none;
    opacity: 0.8;
    color: #000;
}

footer ul li {
    display: inline-block;
    padding: 0 15px;
}

footer ul li a:hover {
    text-decoration: underline;
}

footer i {
    color: #000;
}

footer .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 15px;
}


/*------------------------------------------------------*/
/*    promotions                                        */
/*------------------------------------------------------*/

.promotions {
    margin-top: 5%;
    display: flex;
    align-items: center;
    width: 100%;
    height: 500px;
    background-color: #fff;
}

.promotions .card {
    align-items: center;
}

.buttons {
    margin-top: 10px;
}

.text {
    height: 100%;
    align-items: center;
}

.text h1 {
    font-size: 35px;
}

.text h2 {
    display: flex;
    gap: 7px;
}

.text h2 p {
    color: #474EB7;
}

button {
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    padding: 3px;
}

button:first-of-type {
    background-color:  #474EB7;
    color: #fff;
    height: 40px;
    width: 100px;
}

button:last-of-type {
    margin-left: 1%;
    height: 40px;
    width: 120px;
    border: 2px solid  #474EB7;
    color:  #474EB7;
}

.image {
    width: 50%;
}

/* responsiveness */

/* laptop view */
@media (min-width: 769px) {
    .container {
        justify-content: space-evenly;
    }
}

/* tablet view */
@media (min-width: 481px) and (max-width: 768px){
    .text {
        margin-left: 6%;
    }
}

/* mobile view */
@media (max-width: 480px){

    .promotions {
        margin-top: 20%;
    }

    .text {
        margin-left: 10%;
    }

    .container {
        display: grid;
    }

    button:last-of-type {
        margin-left: 5%;
    }

    .image {
        margin-top: 10%;
        width: 100%;
    }
}