@import url(./reset.css);
@import url(./utils.css);

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  App                                                  */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

body {
    background-color: var(--app-background-white);
    font-family: 'Nunito Sans', 'Open Sans', Arial, sans-serif;

}

main {
    min-height: 100dvh; /*for various devices dvh is better*/
}

.container {
    width: min(100% - 30px, 1080px);
    margin-inline: auto;
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Component                                            */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

/*----Header----*/
header {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 70px;
    background-color: #003DA6;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1{
    font-family: "Exo-2", monospace;
    padding: 10px;
    text-align: center;
    margin-left: 20px;
    color: #e2e3f4;/*--for lighter color--*/
}

nav {
    padding: 10px;
    list-style: none;
    margin-right: 20px;
}

.more {
    color: #e2e3f4;
    margin-right: 20px;
    padding: 10px;
    transition: color 0.25s ease-in-out;
}

.more:hover {
    color: #9a9aff;
}

/*----laptop----*/
@media (min-width: 500px) and (max-width: 1600px) {
    header .more {
        display: none;
        visibility: hidden;
    }
}

/*----tablet----*/
/*@media (min-width: 482px) and (max-width: 770px) {
    header .more {
        visibility: visible;
    }
    header nav {
        visibility: hidden;
    }
}*/

/*---mobile---*/
@media (min-width: 320px) and (max-width: 500px) {
    header .bar {
        visibility: hidden;
        display: none;
    }
}

nav ul {
    display: flex;
}

nav ul li {
    margin-left: 15px;
}

nav ul li a {
    font-size: 20px;
    text-decoration: none;
    font-family:monospace, "Nothing You Could Do" ;
    font-weight: 100;
    color: #e2e3f4;
    letter-spacing: 0.2px;
    transition: color 0.25s ease-in-out;
    cursor: pointer;
}

nav ul li a:hover {
    color: #9a9aff;
}



/*------------------------------------------------------*/
/*    promotions                                        */
/*------------------------------------------------------*/

.promotions {
    margin-top: 5%;
    display: flex;
    align-items: center;
    width: 100%;
    height: 500px;
    background-color: #fff;
}

.buttons {
    margin-top: 10px;
}

.text {
    display: grid;
    align-items: center;
}

button:first-of-type {
    background-color: #003DA6;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    height: 40px;
    width: 100px;
}

button:last-of-type {
    background-color: rgb(185, 184, 184);
    font-size: 18px;
    font-weight: 600;
    margin-left: 1%;
    border-radius: 5px;
    height: 40px;
    width: 100px;
}

.image {
    width: 50%;
}